*{
	margin: 0px;
	padding: 0px;
}
form{
	height: 380px;
	width: 430px;
	border: 1px solid black;
	background: lightblue;
	/*box-shadow: auto;*/
	padding: 20px;
	margin: auto;
}
input, label, p {
	margin: 10px 30px;
	font-size: 30px;
}
/*input#btn{
	border: 1px solid black;
	background: ;
}*/